page-user-list
  div.wrap-page
    module-user-list(each='{item in listContents}' content='{item}')


  style(scoped, type='less').
    :scope {
      .wrap-page {
        /*display: block;*/
        width: 100%;
        height: 100%;
      }
    }

  script.

    var self = this;

    this.on('mount', function(){

    });    

    var loadListContents = async () => {
      var contents = await service.db.collection("users")
        .get().then(function(querySelectors){
          var users = [];
          querySelectors.forEach(function(doc) {
            users.push(doc.data());
          });
          return users;
        });

      self.listContents = contents;
      self.update();
    }

    loadListContents();
